version: '3.9'
services:
  postgres:
    image: postgres:15-alpine
    container_name: reviewer-postgres
    environment:
      POSTGRES_DB: avito_service
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    depends_on:
      - postgres
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 10s
    environment:
      HTTP_READ_TIMEOUT: 5s
      HTTP_WRITE_TIMEOUT: 5s
      HTTP_PORT: 8080
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: avito_service
      POSTGRES_SSLMODE: disable
    ports:
      - "8080:8080"
    command: ["/app/reviewer-service"]

volumes:
  postgres_data:
